.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.copyright__text {
  margin: 0;
  font-size: $font-size-sm;
  line-height: 1em;
  font-family: $font-family-additional;
}
