.features {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 16px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 24px;
  color: $gray-darken;
  font-size: $font-size-xxl;
  line-height: 1.667em;
  font-weight: 400;
}

.features__item {
  padding-left: 80px;
  margin-bottom: 26px;
  font-family: $font-family-additional;
}
