.product {
  border-bottom: $border;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
}

.product__img-wrapper {
  width: 140px;
}

.product__info {
  width: 140px;
  padding-top: 21px;
}

.product__title {
  margin-top: 0;
  margin-bottom: 13px;
  width: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: #444444;
  text-transform: uppercase;
}

.product__properties {
  width: 100%;
  font-size: $font-size-xs;
  border-spacing: inherit;
  line-height: 1.34em;
  font-family: $font-family-additional;
}

.product__property-value {
  text-align: right;
}

.product__button {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px 0;
  color: $white;
  font-size: $font-size-sm;
  line-height: 1.25em;
  background-color: $color-main;
}

@media (min-width: $tablet-width) {
  .product {
    position: relative;
    min-height: 431px;
    border: none;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
    margin-bottom: 140px;
    background-color: $gray;
  }

  .product__button {
    padding: 10px 0;
  }

  .product__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .product__img-wrapper {
    width: 324px;
    position: absolute;
    bottom: 302px;
  }

  .product__info {
    width: 100%;
  }

  .product__title {
    width: 137px;
    padding-bottom: 19px;
    font-size: $font-size-l;
    line-height: 1;
    text-align: center;
    margin: auto;
  }

  .product__properties {
    padding-bottom: 33px;
    font-size: $font-size-sm;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .product {
    margin-bottom: 142px;
  }
}
