.promo {
  margin-bottom: 22px;
}

.promo__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.promo__text-wrapper {
  padding-bottom: 168px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 133px;
  background-color: $color-main;
  color: $white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.promo__title {
  margin: 0;
  padding-top: 28px;
  font-size: $font-size-xxl;
  line-height: 1em;
  font-weight: 400;
}

.promo__slogan {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1em;
}

.promo__link {
  display: block;
  padding: 12px 74px;
  text-align: center;
  color: $white;
  line-height: 1.286em;
  background-color: $color-main;
}
