$color-bg:           #ffffff;
$color-bg--darken:   #f2f2f2;
$color-bg--bright:   #68b738;

$color-text--light:  #ffffff;
$color-text--darken: #444444;
$color-text--dark:   #111111;

$ff-oswald:          "Oswald", "Arial", sans-serif;
$ff-oswald--med:     "Oswald Medium", "Arial", sans-serif;
$ff-arial:           "Arial", "Tahoma", sans-serif;

