.promo__wrapper {
  background-color: $color-main;
  color: $gray-light;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__title {
  font-size: $font-size-xxl;
  line-height: 1em;
}

.promo__slogan {
  text-transform: uppercase;
  line-height: 1em;
}

.promo__link {
  color: $gray-light;
  line-height: 1.286em;
  background-color: $color-main;
}
