.promo__wrapper {
  background-color: $color-bg--bright;
  color: $color-text--light;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  text-transform: uppercase;
  line-height: 14px;
}

.promo__link {
  color: $color-text--light;
  line-height: 18px;
  background-color: $color-bg--bright;
}
